@model CategoryMasterVm

@{
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
    }
    <div class="bcatForm">
    <h1>เพิ่มหมวดหมู่</h1>
    <form id="bcatForm" action="AddCategory" method="post">
        <div id="AddBcatSuccess" class="alert alert-success" role="alert"></div>
        <div class="form-group">
            <label asp-for="Name" class="form-control"></label>
            <input asp-for="Name" class="form-control" required />
            </div>
            <div class="form-group">
            <label asp-for="Description" class="form-control"></label>
            <input asp-for="Description" class="form-control" required />
            </div>
            <p>
                <input type="submit" class="btn btn-success"  value="เพิ่มหมวดหมู่"/>
                </p>
        </form>
</div>
<style type="text/css">
.bcatForm{
    background-color:deeppink;
    border: 3px solid blue;
    width:150px;
    height:100px;
    position:fixed;
    top:auto;
    right:100px;
    left:auto;
    }
</style>
@section Scripts{
    <script>
        $(document).ready(function(){
            $("#bcatForm").submit(function(event){
                var getData = {
                    Name:$("#Name").val(),
                    Description:$("#Description").val()
                    }; //end data object
                    $.ajax({
                        type:"post",
                        data:getData,
                        dataType:"json",
                        headers:{
                            Authorization: "Bearer " + "@Context.Request.Cookies["AccessToken"]"
                            },
                            success:function(data,status,xhr){
                                var bcat = $("#AddBcatSuccess");
                                bcat.empty();
                                bcat.append(xhr.responseJSON.message);
                                bcat.show();
                                },
                                error:function(e){
                                    AlertError(e.responseJSON.message);
                                    }
                        }); //en
                        event.preventDefault();
                }); //end form.submit
            }); //end function.ready
        </script>
    }