@using Book.ViewModels.Admin
@model CategoryManageVm
@{
    Layout = "~/Views/Shared/Admin/Layout.cshtml";
    }
<h1 class="text-center">หมวดหมู่ทั้งหมด</h1>
<div class="Bcat">
<form asp-action="DeleteCategory" method="post">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ชื่อหมวดหมู่</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model.GetCategorys)
      {
    <tr>
      <th scope="row">@item.Id</th>
          <td>
              <input type="checkbox" name="CatId" value="@item.Id" class="form-control" />
              @item.CategoryName
              </td>
      </tr>
    }
  </tbody>
</table>
<p>
<input type="submit" value="ลบหมวดหมู่" />
</p>
</form>
</div>
<style type="text/css">
.Bcat{
    width: 200px;
    background-color: hotpink;
    height:auto;
    position:fixed;
    top:200px;
    right:150px;
    left:auto;
    bottom:100px;
    }
</style>