@model IEnumerable<GetAllBooks>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
  <div class="row">
      @foreach(var item in Model)
      {
    <div class="col">
        <h1 class="text-center">@item.BookName</h1>
        <p>ผู้เขียน: @item.Auther เมื่อ @item.DateCreated.ToString("f")</p>
        </div>
}
</>
</div>