@using Book.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserModel> _signInManager
@inject UserManager<UserModel> _UserManager
@if (_signInManager.IsSignedIn(User) == true)
                {
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Profile" class="nav-link text-dark">โปรไฟล์</a>
                    </li>
                    <li class="nav-item">
                    <form class="form-inline" asp-controller="User" asp-action="Logout" method="post" id="LogoutForm">
                        <a href="#" class="nav-link" id="SubmitLogout">ออกจากระบบ</a>
                        </form>
                        </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="User" asp-action="Login" class="nav-link text-dark">เข้าสู่ระบบ</a>
                        </li>
                        <li class="nav-item">
                        <a asp-controller="User" asp-action="Register" class="nav-link text-dark">สมัคสมาชิก</a>
                        </li>
                }
